doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    title= `${title}`

  body
    div.container.listing-reg
      div.row.justify-content-md-center
        div.col.col-md6
          h1.text-center FIRST WEB WITH NODE

          block content
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap.bundle.min.js')