doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css-sosmed/styles.css')
    script(src="/lib/jquery-3.2.0.min.js")
    script(src="/lib/bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet")
    link(rel="stylesheet" href="/css-sosmed/style.css" type="text/css")
  body#login-page
    block content
            