extends auth

block content
    div.form-box
        div.form-logo 
            h1.text-center Login Here
        form(action="/register", method="post")
            input.form-control(type="email", name="email",placeholder="Email")
            input.form-control(type="text", name="username",placeholder="Username")
            input.form-control(type="password",name="password", placeholder="Password")
            input(type="submit" class="btn btn-social" value="LOGIN")
        a.login-action(href="#" ) Have an account?
    footer.login-footer.text-center
        div.col-xs-3 
            a.login-action(href="#") LANGUAGE
        div.col-xs-3 
            a.login-action(href="#") TERMS
        div.col-xs-3 
            a.login-action(href="#") PRIVACY
        div.col-xs-3 
            a.login-action(href="#") CAREERS